<html>
<head>
  <title>AWs Connecter Dawn</title>
  <link rel="stylesheet" media="all" type="text/css" href="./asset/css/main.css">
  <link rel="stylesheet" media="all" type="text/css" href="./asset/css/flootWindow.css">
</head>
<body>
  <h1>AWs Connecter Dawn</h1>
  <a href="#floatWindow" class="open">発言ウィンドウの表示</a>
  <div id="floatWindow">
    <a href="sample2.html" class="close"><img src="./asset/images/close.png" alt="閉じる" /></a>
    <dl>
      <dt>発言ウィンドウ</dt>
      <dd>
        <form id="chatSend" action="">
          名前<input id="chatName" autocomplete="off"><select id="select_system" class="selector"></select><br />
          <input id="chatText" autocomplete="off"><button id="sendButton" class="sendButton">送信</button>
        </form>
      </dd>
    </dl>
  </div>
  <ul id="timeline"></ul>

   <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="./asset/javascript/main.js"></script>
</body>
</html>
